### String Boolean Function
- true of false
- islower()-- true if the string have all characters lower case
- isupper() -- true if the sstring have all characters upper case
- istitle( -- true if the string in title case
- isnumeric() -- true if the string is numeric
- isalpha() -- true if the string only has alphabets
- isspace)-- true if string has only spaces

In [2]:
s1 = 'python'
print(s1.islower())
print(s1.isupper())

True
False

In [3]:
s1 = 'Python Prgram'
print(s1.istitle())

True

In [4]:
s1 = '123'
s2 = 'Py123'
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [5]:
s1 = 'py123'
s2 = 'Python'
print(s1.isalpha())
print(s2.isalpha())

False
True

### STring Methods
- split() -- returns the list of strings seperated by whitespace

In [6]:
s1 = 'python learn made easy'
print(s1.split()) # defaut is white space

['python', 'learn', 'made', 'easy']

In [7]:
s1 = 'python learn made easy'
print(s1.split('a'))

['python le', 'rn m', 'de e', 'sy']

In [8]:
print(s1.replace(' ','-'))

python-learn-made-easy

In [10]:
print(s1.replace('a','@'))

python le@rn m@de e@sy

In [12]:
s1 = 'python'
print(",".join(s1))

p,y,t,h,o,n

### string Formatting
- classic version
- Current Version Python

In [14]:
# classic Version(c or c++)
l1 = ['python','programming']
print('%s %s ' % (l1[0],l1[1]))

python programming

In [19]:
l1 = [1,2]
print('%d %d ' % (l1[0],l1[1]))

1 2

In [17]:
#.format
print("list item 0 :{0} \nList item 1 : {1}".format(l1[0],l1[1]))

list item 0 :python
List item 1 : programming

In [18]:
l1 = [1,2,3,4]
print('{0} {1} {2} {3}'.format(l1[0],l1[1],l1[2],l1[3]))

1 2 3 4

### Data Structures
- List
- Tuples
- Dictionaries

### Dictionaries
- It works on concept of Unique Data
- Key Value is the unique identifier a value
- Each key is seperated from Value colon(:)
- Each key and value is seperated by Comma(,)
- Dictinaries are enclosed with curly brackets{}

In [20]:
d1 = {'Name':'divya','email':'abd@gmail.com','pin':'50000'}
print(d1)

{'Name': 'divya', 'email': 'abd@gmail.com', 'pin': '50000'}

In [25]:
d1['email'] = 'xyz@gamil.com' #update the value using key

In [24]:
d1['Name']  # access the specific key value

'divya'

In [26]:
d1['email']

'xyz@gamil.com'

In [27]:
# l1= d1.keys()
#print(l1)
d1.keys() # returns all the distionary key objects

dict_keys(['Name', 'email', 'pin'])

In [28]:
d1.values() # returns all the values

dict_values(['divya', 'xyz@gamil.com', '50000'])

In [29]:
del d1['pin']

In [30]:
d1

{'Name': 'divya', 'email': 'xyz@gamil.com'}

In [31]:
del d1

In [32]:
d1

NameError: name 'd1' is not defined

### Contact Application
- Adding a contact details
- Search the contact details from the dictinary
- list all the contacts(merge/input)
     - Name 1 :value
     - Name 2 :value
- Modify or update the contact details
- Delete the contact details

In [54]:
contacts = {} # empty Dict Object(object name is contacts)
# lets create a function for add contact details
def addContact(name,phno):
    if name not in contacts: #condition  to check name already exists or not
        contacts[name] = phno
        print(name,'Contacts are added successfully')
    else:
        print(name,'Contact is already Exists')
    return
addContact('divya','9478991234')
addContact('pinku','7648182838')
addContact('divya','7664383121')

divya Contacts are added successfully
pinku Contacts are added successfully
divya Contact is already Exists

In [38]:

def  searchContact(name):
    if name in contacts:
        print(name, ':',contacts[name])
    else:
        print('{0} doesnt exists '.format(name))
        # print('%s doesnt exists ' % name)
    return
searchContact('divya')
searchContact('ramya')
searchContact('rani')
searchContact('pinku')

divya : 9478991234
ramya doesnt exists
rani doesnt exists
pinku : 7648182838

In [45]:
# import new contact details
# merge the previous details with new details
def importContacts(newcontacts):
    contacts.update(newcontacts)
    print(len(newcontacts.keys()),'contacts are added')
    return
newcontacts = {'ramya':7454648474,'rani':8122541212,'sweety':9949494949}
importContacts(newcontacts)

3 contacts are added

In [47]:
def modifyContact(name,phone):
    if name in contacts:
        contacts[name] = phone
        print(name,'contacts upadted successfully')
    else:
        print(name,'doesnt exists')
    return
modifyContact('Divya',948567829)
modifyContact('rani',7656767676)

Divya doesnt exists
rani contacts upadted successfully

In [48]:
contacts

{'divya': '9478991234',
 'pinku': '7648182838',
 'ramya': 7454648474,
 'rani': 7656767676,
 'sweety': 9949494949}

In [52]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,'deleted successfully')
    else:
        print(name,'doesnt exists')
    return
deleteContact('divya')
deleteContact('ratnam')

divya doesnt exists
ratnam doesnt exists

In [53]:
contacts

{'pinku': '7648182838',
 'ramya': 7454648474,
 'rani': 7656767676,
 'sweety': 9949494949}

### tuples
- tuples enclosed with Paranthesis()

### differences between tuples and list
     - List are mutable-- can be changed or modified
         - Can read and write the data
     - Tuples are immutable --- cannot be modified or changed ,tuple object doesnt support the item assignment
         -Can only read data

In [55]:
t1 = (1,2,4,5)
t1

(1, 2, 4, 5)

In [60]:
print(t1)

(1, 2, 4, 5)

In [59]:
t1[2] = 7

TypeError: 'tuple' object does not support item assignment

In [61]:
print(t1[1::-1])

(2, 1)

### Standard Libraries
 
- Regular Expressions
    - To validate the Indian Mobile Number
    - to validate the EmailId
    - To Validate the username
    - To Validate the Password
- Understanding of Regular Expressions
    - [0-9] -- Any digit matching
    - [a-z] ---Any lower case matching
    - [A-Z] --Any Uppercase matching

In [65]:
# function to test the two digit number as input
# True -- Inut two digit Number
# False -- Input not a two digit nymber

import re
def twoDigitMatching(n):
    pattern = '^[0-9]{2}$'
    n = str(n)    # str() converts input into str format
    if re.match(pattern,n):
        return True
    return False
print(twoDigitMatching(12)) # true
print(twoDigitMatching(123)) # False

True
False

In [66]:
# Regular exression for Username
# Username -- should contains lower and upper case characters
# Length --Min 5 Max 12

def validateUsername(s):
    pattern = '^[a-zA-Z]{6,12}$'
    if re.match(pattern,s):
        return True
    return False
print(validateUsername('divya')) #false
print(validateUsername('pinku')) # false
print(validateUsername('elizabeth')) #true

False
False
True

### Regular Expression
- Regular Expression for RollNumber
    - example : 1521A0501 #valid
    - example : 1621A0574 # not valid
- Regular Expression for pwd
    - Parameters - len Min 6 Max 10
    - Accept Lower case,upper case ,Digits and spl (@,!,#)
    - Example :pass123@21 # valid
    - Example : Pass12*21#Not valid

In [79]:
import re
def validateRollNo(n):
    pattern = '^[0-9A-Z]{1,12}$'
    n = str(n)
    if re.match(pattern,n):
        print(n,'valid')
    #else:
       # print(n,'notvalid')
    return
print(validateRollNo('1521A0501'))
#print(validateRollNo('1621A0574'))

1521A0501 valid
None

### regular Expression for Indiand Mobile
- 10 Digit Number
     - first Number is starts from [6-9]
     - Rest of 9 number is between [0-9]
            - example : 9851741520 # true
            - example : 5978201520 # false
- 11 Digit Number 
     - First number can be )
     - second number can be [6-9]
     -REST OF 9 NUMBERs is betweem [0-9]
           - example : 09851741520 # true
           - example : 99851741520 # false
- 13 Digit Number
     - First number can be +
     - second number 9
     - third number 1
     - fourth number[6-9]
     - Rest of Number [0-9]
           - example : +919988552266 # true
           - example : +918855266224 #true

In [ ]:
# rule 1 : ^[6-9][0-9]{9}$
# rule 2 : ^[0][6-9][0-9]{9}$
# rule 3 : ^[+][9][1][6-9][0-9]{9}$

In [74]:
import re
def validateIndianPhone(n):
    pattern = '^[6-9][0-9]{9}$|^[0][6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    n = str(n)
    if re.match(pattern,n):
        return True
    return False
validateIndianPhone('+919988774455') #true

True

### Validate the emailId
- Example : username@DomainName.extension
- Example : dsps@gmail.com
- Username : 
     - len of string  will be [6-15]
     - no spl characters except Underscore(_)
     - user name should not begins with underscore(_) and dot(.)
     - all   charactersset Digits,lower case and upper case
           - example :Anil_1889
- DomainName
     - Len of string will be [3-18]
     - No spls characters
     - characters set will be Digits, lower case and upper case
            - Example :gmail,hotmail,rediff,ymail etc...
- Extensions 
     - Len of string will be [2-4]
     - No spls Characters allowed
     - Character set will lower case characters
            - Example : com in au uk

In [ ]:
# user name RE:^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}$
# domain Name RE:^[a-z0-9]{3,18}$
# Extension RE: ^[a-z]{2,4}$

In [81]:
def validateEmail(email):
    pattern='^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}[@][a-z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,email):
        return True
    return False
validateEmail('anilkuma1889@hotmail.com')

True

### Python Graphics
- Lib turtle

### Package,module and sub package
- package is a set/collection of modules(single Python file.py)
- module :  A collection of a single python file contains a group of files
      - pacakge - > Sub package- > Modules - >  Functions - > statements
      - import keyword is used to import the external lib packages into the python program

In [82]:
import math #imorts all the function into python progrm
math.floor(123.456)

123

In [83]:
math.ceil(123.456)

124

In [84]:
from math import factorial as fact  # will imports only specific function
# as fact alias name
fact(10)

3628800

In [85]:
from math import gcd as gcd
gcd(10,15)

5

In [90]:
#import random package
import random
# function to generate the N numbers in given range
def generateRandNum(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=' ')
    return
generateRandNum(10,0,100)

27 72 33 36 67 44 92 30 51 47

In [ ]:
# generate the one 4 digit number two limits
# 1000.9999-1899

In [ ]:
# create a simple game
# Try to generate 20 numbers
# Input : Number
# Present : Congrats!!!
# Not Present : try again

In [92]:
from random import randint as rdint
def generateNumber(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(rdint(lb,ub))
    return li
def check(n):
    li = generateNumber(20,100,999)
    if n in li:
        print('congrats!!!')
    else:
        print('try again!!!') # if the input number is present the output will be congrats otherwise try again message will be displayed
    return
check(167)

try again!!!

In [ ]:
import turtle as tt #alias name for package directly so you can use alias name for all the functions in tthe given package
a1 = tt.Turtle()
a1.backward(150)
tt.done()

In [ ]:
# draw the square
import turtle as tt # generate the square using forward and right methods of turtle package
a1 = tt.Turtle()
a1.forward(150)
a1.right(90)            
a1.forward(150)
a1.right(90)
a1.forward(150)
a1.right(90)
a1.forward(150)
a1.right(90)
tt.done()

In [ ]:
import turtle as t  # print in star
a1 = t.Turtle()
for i in range(40):
    a1.forward(50)
    a1.right(144)
t.done()